* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

header {
	width: 100%;
	height: 11vh;
	background: #212221;
	text-align: center;
	font-family: sans-serif;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #1181b2;
	padding-top: 1%;
}

main {
	width: 100%;
	height: 80%;
	background-image: url(images/baby-led.jpg);
	background-size: cover; 
	padding-top: 20px;
}

#main__artiacle--container {
	width: 50%;
	height: 50%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #ddedf4;
	font-size: 1.25em;
	background: #1181b2;
	margin: 12% auto;
	border-radius: 5px;
	text-align: center;
}

#footer__section {
	width: 100%;
	height: 10vh;
	background: #44449b;
}

#main__name--input,
#main__age--input {
	width: 30%;
	height: 20px;
	display: inline-block;
}

#main__name--button,
#main__age--button {
	width: 30%;
	height: 20px;
}
