* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

header {
	width: 100%;
	height: 16%;
	background: #1181b2;
	text-align: center;
	font-size: 3vw;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	/*text-shadow: 3px 4px #3f6844; */
	color: #ddedf4;
	padding: 2% 0 1% 0;
  line-height: 1.1em;
}

#main__input--text {
	/*text-shadow: 2px 2px #3f6844; */
	margin: 5% 0 3% 0;
  font-size: 2.5vw;
}

main {
	width: 100%;
	height: 74%;
	background-image: url(images/baby-led.jpg);
	background-size: cover; 
	padding-top: 1;
}

#main__container--unit {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

#main__article--container {
  width: 50%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #ddedf4;
  font-size: 1.5em;
  background: #1181b2;
  display: block;
  border-radius: 5px;
  text-align: center;
  box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4)
}

#footer__section {
	width: 100%;
	height: 10vh;
	background: #44449b;
}

#main__name--input,
#main__age--input {
	width: 50%;
	height: 35px;
	display: block;
	margin: 2% auto;
	padding-left: 2%;
	font-size: 16px;
	background: #F0F7FA;
}

#main__age--button {
	width: 50%;
	height: 35px;
	border-radius: 3px;
	border: none;
	margin-top: 30px;
	background: #0D5F83;
	font-size: 18px;
	color: #ffffff;
}

#main__age--button:hover {
	background: #E05517;
}

/*#card__container {
  width: 100%;
  height: 100%;
  background: #ddedf4;
  opacity: 0.95;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1em; 
  color: #212221;
  padding: 1.75%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 
	          0 6px 20px 0 rgba(0, 0, 0, 0.4);
	display: inline-block;
}*/

#main__info--card {
  width: 0;
  height: 100%;
  background: #ddedf4;
  opacity: 0.95;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1em; 
  color: #212221;
  padding: 1.75%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 
	          0 6px 20px 0 rgba(0, 0, 0, 0.4);
  display: inline-block;
  visibility: hidden;
}

#allergy__container {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 9px;
  color: #FFFFFF;
  padding: 1.75%;
}

#main__allergy--card {
  width: 0;
  height: 100%;
  background: #44449b;
  opacity: 0.95;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 
	            0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#allergy__content--container {
	width: 100%;
	height: 100%;
	padding: 1em;
}

.images__home--icon {
	width: 50px;
	height: 50px;
	margin-top: 12%;
}

.images__menu--icon,
.images__allergy--icon {
	width: 50px;
	height: 50px;
}

#foodIconsContainer {
	width: 100%;
	height: 55px;
	margin-top: 10%;
}

#allergyIcon,
#homeIcon {
	margin-top: 2%;
	padding: 2%;
}

#header__title--p {
	font-weight: 400;
	font-size: .68em;
	color: #F0F7FA;
}

#font__deck {
	position: relative;
	bottom: 10px;
}

#peanutIcon,
#milkIcon {
	display: inline-block;
}

#images__bread--icon,
#images__soy--icon,
#images__fish--icon,
#images__peanuts--icon,
#images__milk--icon {
	height: 50px;
	width: 50px;
	display: inline-block;
}

@media only screen and (max-width: 1020px) {

 /* #header__title--h2 {
   font-size: 7.75vh;
  }*/

}

/*#main__allergy--card {
	width: 30%;
  height: 100%;
  background: #44449b;
  opacity: 0.95;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 22px; 
  color: #212221;
  padding: 1.75%;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 
	            0 6px 20px 0 rgba(0, 0, 0, 0.4);
}*/



